
        h2{
            color: green;
            background-color: beige;

        }

        body{
            background-color: blueviolet;
        }
        ul{
            background-color: darkgreen;
        }

        #bombom-bombom{
            background-color: green;
            color: antiquewhite;
        }