
        h2{
            color: green;
            background-color: beige;
            font-style: italic;
          
        

        }

        body{
            background-color: blueviolet;
        }
        ul{
            background-color: darkgreen;
        
        }

        #bombom-bombom{
            background-color: green;
            color: antiquewhite;

            }
        .novinho-novinho{
            font-size: 30px;
        }
        #mascarenhas-mascarenhas{
            font-size:  20px;
        }